<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link href="public/css/custom.css" rel="stylesheet">
</head>
<body>
    <div id="main" class="main">
        <div style="width: 100%;background-color:#2D67F6;height:20%;">
            <div style="width:100%; background-color: #2D67F6; height: 50%; font-size: 2rem; text-align: center; color: #fdfbec; font-weight: 200; padding-top: 3%;">
                <span style="vertical-align: middle;">{{department}}</span>
            </div>
            <div style="display: flex; height:50%;">
                <div style="width: 50%;padding: 0px 10px;">
                    <span style="color: white; font-size: 1.0rem;">醫師</span>
                    <div style="background-color: white;height:50%; border-radius: 5px;display:flex; align-items: center;">
                        <img src="public/image/stethoscope.png" style="height:80%;margin-top: calc(2.5vh-20px);">
                        <span style="font-size: 1.0rem;">{{doctor}}</span>                  
                    </div>               
                </div>
                <div style="width: 50%;padding: 0px 10px;">
                    <span style="width:50%;color: white;font-size: 1.0rem;">護理師</span>
                    <div style="background-color: white;height:50%; border-radius: 5px;display:flex; align-items: center">
                        <img src="public/image/needle.png" style="height:80%;margin-top: calc(2.5vh-20px);">
                        <span style="font-size: 1.0rem;">{{nurse}}</span>
                    </div>
                </div>                  
            </div>
        </div>

        <div style="height:20vh; width: 100%;">
            <div style="width: 100%; height:100%; display: flex;">
                <div style="width: 50%; height:100%; padding: 0px 10px;">
                    <div style="background-color: #e44e69; height: 15%; width: 100%; border-radius: 5px 5px 0px 0px; text-align: center; align-items: center;">
                        <span style="vertical-align: middle;  color:white;">目前號碼</span>
                    </div>
                    <div class="numberNow" style="background-color: #eeefe7; height: 85%; width: 100%; border-radius: 5px 5px 0px 0px; padding: auto;">
                        <span style="vertical-align: middle;">{{numberNow}}</span>
                    </div>
                </div>
                <div style="width: 50%; height:100%;padding: 0px 10px; ">
                    <div style="background-color: #2D67F6; height: 15%; width: 100%; border-radius: 5px 5px 0px 0px; text-align: center; align-items: center;">
                        <span style="vertical-align: middle;  color:white;">下一號</span>
                    </div>
                    <div class="numberNow2" style="background-color: #eeefe7; height: 85%; width: 100%; border-radius: 5px 5px 0px 0px; padding: auto;">
                        <span style="vertical-align: middle;">{{numberNext}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height:35%;">
            <table >
                <thead>
                    <tr>
                        <td class="tdfirst">看診號</td>
                        <td class="tdfirst">病人姓名</td>
                        <td class="tdfirst">看診狀態</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in data_show">
                        <td v-text="item.number"></td>
                        <td v-text="item.name"></td>
                        <td v-text="item.status"></td>
                    </tr>
                </tbody>
            </table>
            <div class="float">
              <span style="vertical-align: middle;">候診名單</span>
            </div>
        </div>
        <div class="box4">
            <div style="background-color: blue; height: 15%; width: 100%; color: white; text-align: center; align-items: center; border-radius: 5px 5px 0px 0px;">
                <span style="vertical-align: middle;">公佈欄</span>
            </div>
            <!-- 1. 您好，為維護門診寧靜，請您注意音量 -->
            一起守護台灣，請您務必配戴口罩及消毒雙手 
            <div class="ffont">
               
            </div>
            <div>
                <span></span>
            </div>
            <div class="ffont">
            謝謝配合 祝您早日康復!    
            </div>
        </div>
        <div style="display: flex;">
            <div style="width: 50vw;">
                <button v-on:click="down('1');"type="button" class="btn btn-outline-info">Down</button>
                <!-- <button  style="font-size:14px;"></button> -->
                <input  v-model="numberNow" type="number" style="width:40px; font-size:14px;">
                <button @click="up('1');" style="font-size:14px;">Up</button>
            </div>
            <div div style="width: 50vw;">
                <button v-on:click="down('2');" style="font-size:14px;">Down</button>
                <input  v-model="numberNext" type="number" style="width:40px; font-size:14px;">
                <button @click="up('2');" style="font-size:14px;">Up</button>
            </div>
        </div>
        
    </div>
</body>
<script src="public/js/vue.js"></script>
<script src="public/js/jquery-3.6.0.min.js"></script>
<scrip src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var main = new Vue({
        el:"#main",
        data:{
            department:"兒科(一診)",
            doctor:"金宣虎",
            nurse:"宋慧喬",
            number:"看診號",
            status:"看診狀態",
            numberNow:3,
            numberNext:"",
            data_show:[[],[],[],[],[],[]],
            order:0, //目前要顯示的病人
            case_json:[
                    {
                        "ID": "1201",
                        "number": "01",
                        "name": "趙薇" ,
                        "status": "現場掛號"
                    },
                    {
                        "ID": "0231",
                        "number": "02",
                        "name": "錢夫人" ,
                        "status": "網路預約"
                    },
                    {
                        "ID": "5232",
                        "number": "03",
                        "name": "孫小美" ,
                        "status": "現場掛號"
                    },
                    {
                        "ID": "7239",
                        "number": "04",
                        "name": "李逍遙" ,
                        "status": "網路預約"
                    },
                    {
                        "ID": "0881",
                        "number": "05",
                        "name": "周星馳" ,
                        "status": "現場掛號"
                    },
                    {
                        "ID": "6222",
                        "number": "06",
                        "name": "吳亦凡" ,
                        "status": "現場掛號"
                    },
                    {
                        "ID": "5820",
                        "number": "07",
                        "name": "鄭成功" ,
                        "status": "現場掛號"
                    },
                    {
                        "ID": "1154",
                        "number": "08",
                        "name": "王陽明" ,
                        "status": "電話掛號"
                    },
                    {
                        "ID": "254",
                        "number": "09",
                        "name": "郭靖" ,
                        "status": "網路預約"
                    },
                    {
                        "ID": "4210",
                        "number": "10",
                        "name": "林心如" ,
                        "status": "電話掛號"
                    },
                    {
                        "ID": "214",
                        "number": "11",
                        "name": "張娜拉" ,
                        "status": "網路預約"
                    },
                    {
                        "ID": "2154",
                        "number": "12",
                        "name": "金貝貝" ,
                        "status": "現場掛號"
                    },   
                    {
                        "ID": "2159",
                        "number": "13",
                        "name": "陳零九" ,
                        "status": "現場掛號"
                    },
                    ],
                    data_null :  {
                        "ID": " ",
                        "number": "",
                        "name": "" ,
                        "status": ""
                    }, 
        },
        mounted: function () {
            setInterval(function(){
                    main.data_show=[];
                    for (let index = 0; index < 6; index++) {
                        if(main.order==main.case_json.length){
                            main.data_show[index] = main.data_null;//11 person_number                    
                        }else{
                        main.data_show[index]=main.case_json[main.order];
                        main.order++; 
                        }
                    }
                    if(main.order==main.case_json.length){
                        main.order=0;
                    }
                }, 3000);
        },
        methods: {
            down(choice) {
                if(choice=="1"){
                    if(main.numberNow>1){
                        main.numberNow--;
                    };
                }else{
                    if(main.numberNext>1){
                        main.numberNext--;
                    };
                }
            },
            up(choice) {
                if(choice=="1"){
                    if(main.numberNow < main.case_json[main.case_json.length-1]['number']){
                        main.numberNow ++;
                    }
                }else{
                    if(main.numberNext < main.case_json[main.case_json.length-1]['number']){
                        main.numberNext ++;
                    }
                }
            },
            // downnext(){
            //     if(main.numberNext > 1){
            //         main.numberNext--;
            //     };

            // },
            // upnext(){
            //     main.numberNext ++;

            // },
        },
    });
    function display(){
        $.getJSON("case.json", function(json_data){
            
            $("tbody td").text("");
            for (let index = 0; index < 6; index++) {
                //code
                let id_string = "#tr"(index+1);
                
                let number = json_data[order]['number'];
                let name = json_data[order]['name'];
                let status = json_data[order]['status'];
                $(id_string+" td:nth-child(1)").text(number);
                $(id_string+" td:nth-child(2)").text(name);
                $(id_string+" td:nth-child(3)").text(status);
                
                console.log(order);

                if(order == json_data.length-1){
                    order=0;
                    //break;
                }else{
                    order++;
                }
            }
        });
    }

    </script>
</html>