body{
    margin: 0px;
    height: 100vh;

}

html{
    font-size: 18px;
}


    
@media(min-width:992px) {
    .main{
        width: 35vw; 
        background-color:#6abce4; 
        height: 100vh; 
        margin: auto;
        }
        
}

@media(max-width:992px){
    .main{
        width: 100vw; 
        background-color:#6abce4; 
        height: 100vh; 
        margin: auto;
        }


}

.main > div{
    margin: 1vh 0px;

}

table,thead,tbody{
    width: 100%;
    height:100%;
    text-align: center;
    font-size: 1.2rem;
}

tr{
    height: 10%;

}
tbody>tr:nth-child(even){
    background-color:white;
    border: white 1px solid;
}

tbody>tr:nth-child(odd){
    background-color: #eeefe7;
    border: white 1px solid;
}

thead>tr{
 color:white;
 background-color: #e44e69;
}
   
.float{
    height: 100px;
    width: 100px;
    color: blue;
    float: left;
    transform: translate(0%,-120%);
}
